<div>
    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="col-md-3" >
            <div class='login'>
                <form action='/logout' method='POST'>
                    <input type='submit' name="" value="Logout">
                </form>
            </div>
        </div>
    </div>
</div>