 
<nav class="navbar navbar-default" >
                <div class="container-fluid">
                    <div class="navbar-header" >
                        <a style="color:white;font-family:TOXIA" class="navbar-brand" href="#">Unicron</a>
                    </div>
                    <ul class="nav navbar-nav active">
                        <li ><a style="color:white" href="/">Home</a></li>
                        <li><a style="color:white" href="/register">Register</a></li>
                        <li><a style="color:white" href="/login">Login</a></li>
                        <li><a style="color:white" href="#">Some Thing</a></li>
                    </ul>
                </div>
            </nav>