<div>
        <div class='row'>
            <div class="col-md-6" style='border-bottom-color: white;
  border-bottom-style: solid;border-width:0.1px' >
                <a href="/login"  class='btnLogin'>Login</a>
            </div>
            <div class="col-md-6" style='border-bottom-color: white;
  border-bottom-style: solid;border-width:0.1px'>
                <a href="Register"  class='btnLogin' style='background-color: #0f0f0f;color:white;border-bottom-style:dote'>Register</a>
            </div>
        </div>
    </div>